In [1]:
import pandas as pd

ab_data2 = pd.read_csv("ab_data_practice.csv")

In [2]:
ab_data2.nunique()

user_id         287621
timestamp       287621
group                2
landing_page         2
converted            2
dtype: int64

In [4]:
ab_data2

        user_id                   timestamp      group landing_page  converted
0        851104  2017-01-21 22:11:48.556739    control     old_page          0
1        804228  2017-01-12 08:01:45.159739    control     old_page          0
2        661590  2017-01-11 16:55:06.154213  treatment     new_page          0
3        853541  2017-01-08 18:28:03.143765  treatment     new_page          0
4        864975  2017-01-21 01:52:26.210827    control     old_page          1
...         ...                         ...        ...          ...        ...
287616   944152  2017-01-21 03:33:28.813182    control     old_page          1
287617   944533  2017-01-11 16:31:55.252610  treatment     new_page          1
287618   945131  2017-01-07 11:53:08.813744  treatment     new_page          1
287619   945627  2017-01-17 15:43:17.255322  treatment     new_page          1
287620   945797  2017-01-11 03:04:49.433736    control     new_page          1

[287621 rows x 5 columns]

In [8]:
print(ab_data2[(ab_data2["group"] == "treatment") & (ab_data2["landing_page"] == "old_page")].shape)
print(ab_data2[(ab_data2["group"] == "treatment") & (ab_data2["landing_page"] == "new_page")].shape)
print(ab_data2[(ab_data2["group"] == "control") & (ab_data2["landing_page"] == "old_page")].shape)
print(ab_data2[(ab_data2["group"] == "control") & (ab_data2["landing_page"] == "new_page")].shape)

(236, 5)
(143622, 5)
(143545, 5)
(218, 5)

In [5]:
print(ab_data2.groupby("group").converted.mean())

group
control      0.123050
treatment    0.125749
Name: converted, dtype: float64

In [6]:
print(ab_data2["group"].value_counts())

treatment    143858
control      143763
Name: group, dtype: int64

In [9]:
pip install statsmodels

Requirement already satisfied: statsmodels in /opt/anaconda3/lib/python3.7/site-packages (0.10.1)
Requirement already satisfied: pandas>=0.19 in /opt/anaconda3/lib/python3.7/site-packages (from statsmodels) (0.25.1)
Requirement already satisfied: patsy>=0.4.0 in /opt/anaconda3/lib/python3.7/site-packages (from statsmodels) (0.5.1)
Requirement already satisfied: scipy>=0.18 in /opt/anaconda3/lib/python3.7/site-packages (from statsmodels) (1.3.1)
Requirement already satisfied: numpy>=1.11 in /opt/anaconda3/lib/python3.7/site-packages (from statsmodels) (1.17.2)
Requirement already satisfied: python-dateutil>=2.6.1 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.19->statsmodels) (2.8.0)
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.19->statsmodels) (2019.3)
Requirement already satisfied: six in /opt/anaconda3/lib/python3.7/site-packages (from patsy>=0.4.0->statsmodels) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [10]:
from statsmodels.stats.weightstats import ztest

statistic, p_value = ztest(ab_data2[ab_data2["group"] == "treatment"].converted.values,
                                   ab_data2[ab_data2["group"] == "control"].converted.values)

print(f"statistic: {statistic}")
print(f"p_value: {p_value}")

statistic: 2.1931304658315107
p_value: 0.02829798056929054

In [11]:
import pandas as pd

cuped = pd.read_csv("cuped_example.csv")

In [12]:
cuped

      group  covariate  metric
0      test       1500    1700
1   control       1300    1200
2      test       1600    2000
3   control       1400    1500
4      test       1200    1200
5   control       1000    1100
6      test       1500    2000
7   control       1300    1500
8      test       1600    1200
9   control       1400    1100
10     test       1200    1200
11  control       1000    1000

In [51]:
cuped["metric"].head(5)

0    1700
1    1200
2    2000
3    1500
4    1200
Name: metric, dtype: int64

In [29]:
cuped.mean()

covariate    1333.333333
metric       1391.666667
dtype: float64

In [46]:
import numpy as np
import pandas as pd

example = pd.DataFrame({
    "group": ["t", "c", "t", "c", "t", "c", "t", "c", "t", "c", "t", "c"],
    "covariate": [1500, 1300, 1600, 1400, 1200, 1000,1500,1300,1600,1400,1200,1000,],
    "metric": [1700, 1200, 2000, 1500, 1200, 1100,2000,1500,1200,1100,1200,1000,]
})

thetta = np.cov(example["metric"], example["covariate"])[0][1] / np.var(example["covariate"])
example["CUPED"] = example["metric"] - (example["covariate"] - example["covariate"].mean()) * thetta

In [47]:
thetta

1.246753246753247

In [48]:
results = example
print(np.var(results))

covariate     38888.888889
metric       110763.888889
CUPED         60390.020333
dtype: float64